:root {
  --base-color-neutral--neutral-darker: #1f1f1f;
  --base-color-neutral--neutral-darkest: #121212;
  --background-color--background-primary: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --text-color--text-secondary: var(--base-color-neutral--neutral);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --base-color-brand--blue-light: #166bff;
  --background-color--background-secondary: var(--base-color-brand--blue);
  --base-color-neutral--neutral-light: #d9d9d9;
  --base-color-neutral--white: #fff;
  --link-color--link-primary: var(--base-color-brand--blue);
  --background-color--background-tertiary: var(--base-color-brand--silver);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --base-color-brand--blue: #0055e9;
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --base-color-neutral--black: #000;
  --base-color-neutral--neutral-lighter: #e0e0e0;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-dark: #444;
  --base-color-brand--gold: #f3aa01;
  --base-color-brand--silver: #8b9bad;
  --base-color-neutral--neutral: #98989e;
  --base-color-brand--bronze: #b4623c;
  --base-color-brand--color: white;
  --base-color-brand--blue-dark: #080331;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
  --border-color--border-secondary: var(--base-color-brand--blue);
  --link-color--link-secondary: var(--base-color-neutral--black);
  --link-color--link-alternate: var(--base-color-neutral--white);
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  background-color: var(--base-color-neutral--neutral-darker);
  color: var(--base-color-neutral--neutral-darkest);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.35;
}

h1 {
  letter-spacing: -.05rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter Tight, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter Tight, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter Tight, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter Tight, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter Tight, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.1;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--base-color-neutral--neutral-darkest);
  cursor: pointer;
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 20rem;
  max-width: none;
  padding: 1rem;
  display: flex;
}

.utility-page_wrapper.bg-white {
  border-radius: 1.5rem;
  padding: 2rem;
}

.utility-page_form {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid #0000001a;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, #2d40ea1a, #fff0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid #0000001a;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid #0000001a;
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.text-weight-normal.spacer-xsmall.text-size-small {
  display: block;
}

.text-weight-normal.spacer-xsmall.text-size-small:hover {
  text-decoration: underline;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
  font-weight: 600;
}

.text-color-alternate.text-transform-uppercase.text-size-tiny.text-weight-bold.text-align-center.gamecenter-text {
  padding-top: 1.5rem;
}

.text-color-alternate.font-alternate.text-weight-semibold.text-align-center.spacer-medium {
  line-height: 1;
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-xtiny {
  font-size: .625rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: #2d40ea0d;
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  letter-spacing: -.1rem;
  font-family: Inter Tight, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.text-size-small.text-color-blue.text-weight-semibold.light {
  color: var(--base-color-brand--blue-light);
}

.text-size-small.text-weight-semibold {
  text-overflow: ellipsis;
}

.text-size-small.text-weight-semibold.truncate, .text-size-small.text-weight-semibold.truncate.spacer-xxsmall {
  max-height: 4rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  border: 1px solid var(--base-color-neutral--neutral-light);
  background-color: var(--base-color-neutral--white);
  text-align: left;
  border-radius: 4px;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.form_input::placeholder, .form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
  font-size: 1rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  background-image: radial-gradient(circle at 100% 100%, #dd23bb40, #0000 40%), radial-gradient(circle at 0 100%, #2d62ff4d, #0000 60%);
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-alternate);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-tertiary);
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--base-color-brand--blue);
  color: var(--text-color--text-alternate);
  text-align: center;
  border-radius: .25rem;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-text {
  color: #000;
  background-color: #0000;
  border: 2px solid #0000;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  color: var(--text-color--text-primary);
  background-color: #0000;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.spacer-medium.flex.gap-s.align-middle {
  justify-content: center;
  align-items: center;
}

.fs-styleguide_spacer-box {
  background-color: #2d40ea1a;
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-small.inline-block {
  display: inline-block;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.spacer-xxlarge.flex.align-bottom-center {
  justify-content: center;
  align-items: flex-end;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: #000;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: relative;
  inset: 0% 0% auto;
  box-shadow: 0 1px 2px #ffffff1a;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_logo {
  width: 10rem;
}

.nav_menu {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.nav_menu_link {
  color: #fff;
  border-bottom: 2px solid #0000;
  padding: calc(.25rem + 2px) .25rem .25rem;
  font-size: .875rem;
  transition-property: border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.nav_menu_link:hover {
  border-bottom-color: #fff;
}

.nav_menu_link.w--current {
  border-bottom-color: var(--base-color-neutral--white);
  color: var(--base-color-neutral--white);
}

.nav_button {
  padding: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.fs-styleguide_hero-label {
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  max-width: 70rem;
  display: grid;
  position: relative;
}

.hero_image {
  border-radius: 1rem;
  margin-top: 0;
}

.hero_heading {
  font-size: 4rem;
}

.section_hero {
  color: #fff;
  background-color: #000;
  background-image: radial-gradient(circle at 0 100%, #2d62ff4d, #0000 50%), radial-gradient(circle at 100% 60%, #2d62ff4d, #1110 20%), radial-gradient(circle at 100% 100%, #d600c433, #0000 45%);
  flex-direction: column;
  justify-content: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.nav_fixed {
  z-index: 999;
  position: sticky;
  inset: 0% 0% auto;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.body {
  font-family: Inter, sans-serif;
}

.flex {
  display: flex;
}

.flex.align-middle {
  justify-content: center;
  align-items: center;
}

.flex.gap-s {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  position: relative;
}

.flex.gap-s.aspect-ratio-landscape {
  justify-content: center;
  align-items: flex-start;
}

.flex.align-center {
  justify-content: flex-start;
  align-items: center;
}

.flex.gap-xs {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
}

.flex.vertical {
  flex-flow: column;
}

.flex.vertical.center {
  justify-content: center;
  align-items: center;
}

.flex.vertical.center.left {
  justify-content: center;
  align-items: flex-start;
}

.flex.vertical.space-between {
  justify-content: space-between;
}

.flex.gap-xxs {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
}

.flex.padding-section-tiny.align-bottom {
  justify-content: flex-start;
  align-items: flex-end;
}

.body-2 {
  background-color: var(--base-color-neutral--neutral-darkest);
  height: 200vh;
}

.bg-white {
  background-color: var(--base-color-neutral--white);
}

.placeholder {
  height: 500px;
}

.fill {
  width: 100%;
}

.fill._4-col.flex.align-bottom {
  justify-content: flex-start;
  align-items: flex-end;
}

.fill._4-col.flex.align-bottom.pad-special-01 {
  padding-bottom: .25rem;
}

.fill.thumb {
  overflow: hidden;
}

.fill.flex.vertical {
  flex: 1;
}

.as-3-2 {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
}

.spacing-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.as-16-9 {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
}

._8-col {
  width: 66.664%;
}

._4-col {
  width: 33.332%;
}

._4-col.spacer-small {
  padding-bottom: 4rem;
  position: sticky;
  top: 64px;
}

.coming-games {
  display: flex;
}

.coming-games.bg-white {
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}

.day {
  border-right: 1px solid var(--base-color-neutral--neutral-lighter);
  background-color: var(--base-color-neutral--neutral-lightest);
  justify-content: center;
  align-items: center;
  padding: 1.5rem .5rem;
  display: flex;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-uppercase.heading-style-h6.date-label {
  line-height: 1;
}

.text-transform-uppercase.heading-style-h6.date-label.text-align-center {
  font-size: .875rem;
}

.match {
  border-right: 1px solid var(--base-color-neutral--neutral-lighter);
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  position: relative;
}

.match-time-block {
  background-color: var(--base-color-neutral--neutral-lightest);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  padding: .125rem .25rem;
  display: flex;
}

.match-team {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.match-team-logo {
  background-image: url('../images/DJ.avif');
  background-position: 50%;
  background-size: cover;
  border-radius: 999px;
  width: 1.25rem;
  height: 1.25rem;
}

.match-team-logo.nifty {
  background-image: url('../images/Nifty.avif');
  background-position: 50%;
  background-size: cover;
}

.match-team-logo.rikers {
  background-image: url('../images/Rikers.avif');
  background-position: 50%;
  background-size: cover;
}

.match-team-logo.viken {
  background-image: url('../images/Freakin.avif');
  background-position: 0 0;
  background-size: cover;
}

.match-team-logo.harrius {
  background-image: url('../images/Harrius.avif');
}

.match-team-logo.baboons {
  background-image: url('../images/Bjorkhagen.avif');
}

.match-team-logo.yousra {
  background-image: url('../images/Yousra_1.avif');
}

.match-team-logo.fisters {
  background-image: url('../images/Joshka.avif');
}

.match-team-logo.calamares {
  background-image: url('../images/Kungsholmen.avif');
}

.match-team-logo.silverbacks {
  background-image: url('../images/Strandie.avif');
}

.match-team-logo.langoustines {
  background-image: url('../images/Langoustines.avif');
}

.match-team-logo.rip {
  background-image: url('../images/RIP.avif');
}

.match-teams {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  min-width: 12rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
}

.faded {
  opacity: .5;
}

.previous-day {
  border-right: 1px solid var(--base-color-neutral--neutral-lighter);
  justify-content: center;
  align-items: center;
  padding: 1.5rem .5rem;
  display: flex;
}

.previous-day.bg-white {
  width: 3rem;
  height: 100%;
}

.chrevron-left {
  width: 100%;
  height: 100%;
  display: block;
}

.icon-wrapper {
  width: 2rem;
  height: 2rem;
}

.next-day {
  border-right: 1px solid var(--base-color-neutral--neutral-lighter);
  justify-content: center;
  align-items: center;
  padding: 1.5rem .5rem;
  display: flex;
  position: absolute;
  right: 0;
}

.next-day.bg-white {
  z-index: 1;
  border-left: 1px solid var(--base-color-neutral--neutral-lighter);
  border-right-style: none;
  width: 3rem;
  height: 100%;
}

.chrevron-right {
  width: 100%;
  height: 100%;
  display: block;
  transform: rotate(180deg);
}

.gamecenter {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.gamecenter.bg-black {
  opacity: 0;
  background-image: url('../images/Gamecenter.svg');
  background-position: 50% 33%;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
}

.gamecenter.bg-black:hover {
  opacity: 1;
}

.bg-black {
  background-color: var(--base-color-neutral--black);
}

.gamecenter-icon {
  background-image: url('../images/Gamecenter.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.divider {
  border-bottom: 1px solid var(--base-color-neutral--neutral-light);
  width: 100%;
  height: 1px;
}

.divider.vertical {
  border-right: 1px solid var(--base-color-neutral--neutral-lightest);
  border-bottom-style: none;
  border-bottom-width: 0;
  width: 1px;
  height: 100px;
}

.divider.vertical.neutral-dark {
  border-right-color: var(--base-color-neutral--neutral-dark);
}

.divider.neutral-dark {
  border-bottom-color: var(--base-color-neutral--neutral-dark);
  color: var(--base-color-neutral--neutral-dark);
}

.text-color-blue {
  color: var(--base-color-brand--blue);
}

.text-color-blue.light {
  color: var(--base-color-brand--blue-light);
}

.team-logo-medium {
  background-image: url('../images/DJ.avif');
  background-position: 50%;
  background-size: cover;
  border-radius: 999px;
  width: 3rem;
  height: 3rem;
}

.team-logo-medium.nifty {
  background-image: url('../images/Nifty.avif');
  background-position: 50%;
  background-size: cover;
}

.team-logo-medium.rikers {
  background-image: url('../images/Rikers.avif');
  background-position: 50%;
  background-size: cover;
}

.team-logo-medium.viken {
  background-image: url('../images/Freakin.avif');
  background-position: 0 0;
  background-size: cover;
}

.team-logo-medium.harrius {
  background-image: url('../images/Harrius.avif');
}

.team-logo-medium.baboons {
  background-image: url('../images/Bjorkhagen.avif');
}

.team-logo-medium.yousra {
  background-image: url('../images/Yousra_1.avif');
}

.team-logo-medium.fisters {
  background-image: url('../images/Joshka.avif');
}

.team-logo-medium.calamares {
  background-image: url('../images/Kungsholmen.avif');
}

.team-logo-medium.silverbacks {
  background-image: url('../images/Strandie.avif');
}

.team-logo-medium.langoustines {
  background-image: url('../images/Langoustines.avif');
}

.team-logo-medium.rip {
  background-image: url('../images/RIP.avif');
}

.team-logo-medium.hateful {
  background-image: url('../images/24761916804_51710f4010.avif');
}

.team-logo-medium.bruisers {
  background-image: url('../images/25311107566_65ea9f4fa2.avif');
}

.team-logo-medium.bacic {
  background-image: url('../images/nhl_5.avif');
}

.team-logo-medium.brewers {
  background-image: url('../images/brooklyn.avif');
}

.team-logo-medium.bayside {
  background-image: url('../images/bayside.avif');
}

.team-logo-medium.m-rtn-s, .team-logo-medium.mrtns {
  background-image: url('../images/25041164220_807ecc5299.avif');
}

.grow {
  flex: 1;
}

.text-size-tiny {
  font-size: .8rem;
}

.text-color-gold {
  color: var(--base-color-brand--gold);
}

.text-color-silver {
  color: var(--base-color-brand--silver);
}

.text-color-neutral {
  color: var(--base-color-neutral--neutral);
}

.footer-logo {
  width: 20rem;
}

.some-wrapper {
  opacity: .5;
  border: 1px solid #fff;
  border-radius: 999px;
  width: 2rem;
  height: 2rem;
  transition: opacity .3s;
}

.some-wrapper:hover {
  opacity: 1;
}

.some-icon {
  padding: .5rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute.fade {
  background-image: linear-gradient(#0000, #00000054);
  height: 33%;
  inset: auto 0% 0%;
}

.absolute.play {
  background-image: url('../images/play.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  inset: auto auto 0% 0%;
}

.absolute.timer {
  background-color: var(--base-color-neutral--white);
  border-radius: 999px;
  height: 1.5rem;
  margin: .5rem;
  inset: auto 0% 0% auto;
}

.absolute.timer.text-size-small.text-weight-semibold {
  padding-left: .5rem;
  padding-right: .5rem;
}

.absolute.timer.text-size-small.text-weight-semibold.flex.align-middle {
  margin-bottom: 1.25rem;
  margin-right: 1rem;
}

.video-player {
  z-index: 999;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: #000c;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  inset: 0%;
}

.close {
  background-image: url('../images/Close.svg');
  background-position: 0 0;
  background-size: auto;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  position: absolute;
  inset: 0% 0% auto auto;
}

.fade-50 {
  opacity: .5;
}

.image {
  width: 5rem;
  height: 5rem;
}

.article-rich-text p {
  letter-spacing: -.02rem;
  margin-bottom: 1.5rem;
  font-family: Halant, sans-serif;
  font-size: 1.125rem;
}

.article-rich-text a {
  color: var(--base-color-brand--blue);
}

.article-rich-text h3 {
  letter-spacing: -.05rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  font-family: Halant, sans-serif;
  font-weight: 600;
}

.article-rich-text h5 {
  margin-bottom: 1.5rem;
  font-size: 1.55rem;
  font-weight: 700;
  line-height: 1.35;
}

.article-rich-text h4 {
  letter-spacing: -.05rem;
  margin-bottom: .5rem;
  font-family: Halant, sans-serif;
  font-weight: 600;
}

.article-rich-text figcaption {
  color: var(--base-color-neutral--neutral);
  font-size: .75rem;
}

.slide-nav {
  display: none;
}

.schdedule {
  background-color: var(--base-color-neutral--white);
  height: auto;
}

.slide {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  overflow: scroll;
}

.left-arrow, .right-arrow {
  height: auto;
}

.team-logo-large {
  background-image: url('../images/DJ.avif');
  background-position: 50%;
  background-size: cover;
  border-radius: 999px;
  width: 4rem;
  height: 4rem;
}

.team-logo-large.nifty {
  background-image: url('../images/Nifty.avif');
  background-position: 50%;
  background-size: cover;
}

.team-logo-large.rikers {
  background-image: url('../images/Rikers.avif');
  background-position: 50%;
  background-size: cover;
}

.team-logo-large.viken {
  background-image: url('../images/Freakin.avif');
  background-position: 0 0;
  background-size: cover;
}

.team-logo-large.harrius {
  background-image: url('../images/Harrius.avif');
}

.team-logo-large.baboons {
  background-image: url('../images/Bjorkhagen.avif');
}

.team-logo-large.yousra {
  background-image: url('../images/Yousra_1.avif');
}

.team-logo-large.fisters {
  background-image: url('../images/Joshka.avif');
}

.team-logo-large.calamares {
  background-image: url('../images/Kungsholmen.avif');
}

.team-logo-large.silverbacks {
  background-image: url('../images/Strandie.avif');
}

.team-logo-large.langoustines {
  background-image: url('../images/Langoustines.avif');
}

.team-logo-large.rip {
  background-image: url('../images/RIP.avif');
}

.team-logo-large.hateful {
  background-image: url('../images/24761916804_51710f4010.avif');
}

.team-logo-large.bruisers {
  background-image: url('../images/25311107566_65ea9f4fa2.avif');
}

.team-logo-large.bacic {
  background-image: url('../images/nhl_5.avif');
}

.team-logo-large.brewers {
  background-image: url('../images/brooklyn.avif');
}

.team-logo-large.bayside {
  background-image: url('../images/bayside.avif');
}

.team-logo-large.beantown {
  background-image: url('../images/beantown.avif');
}

.team-logo-large.thiefs {
  background-image: url('../images/thiefs.avif');
}

.team-logo-large.musketeers {
  background-image: url('../images/25041164220_807ecc5299.avif');
}

.team-logo-large.biggan {
  background-image: url('../images/25223088331_f92c89d9d5.avif');
}

.team-logo-large.maroons {
  background-image: url('../images/mont.avif');
}

.padding-section-xsmall {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.padding-section-xxsmall {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-section-tiny {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.text-color-bronze {
  color: var(--base-color-brand--bronze);
}

.text-color-neutral-dark {
  color: var(--base-color-neutral--neutral-dark);
}

.full-height {
  height: 100%;
}

.text-size-xxlarge {
  font-size: 8rem;
}

.toc-rich-text p {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

.font-alternate {
  font-family: Halant, sans-serif;
}

.font-alternate.text-align-center.text-weight-semibold.line-height-tight {
  line-height: 1;
}

.article-button {
  border-bottom: 3px solid #0000;
}

.breaking {
  border-style: solid;
  border-width: 2px 5px;
  border-color: var(--base-color-brand--blue);
  background-color: var(--base-color-brand--blue);
  color: var(--base-color-brand--color);
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.3;
}

.hover-underline:hover {
  text-decoration: underline;
}

.div-block {
  display: flex;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_button {
    color: #fff;
  }

  .section_hero {
    padding-top: 3rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .padding-section-xsmall, .padding-section-xxsmall {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .text-size-xxlarge {
    font-size: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .padding-global {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .nav_component {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav_logo {
    width: 8rem;
  }

  .nav_menu {
    border-top: .5px solid var(--base-color-neutral--neutral-darker);
    background-color: var(--base-color-neutral--black);
    width: 100vw;
    height: 100svh;
    margin-top: 4rem;
    margin-right: -3rem;
    padding-top: 1rem;
  }

  .nav_menu_link {
    border-top: .5px solid var(--base-color-neutral--neutral-darker);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav_button.w--open {
    background-color: var(--base-color-neutral--black);
  }

  .hero_heading {
    font-size: 2.5rem;
  }

  .flex.gap-s, .flex.gap-s.padding-section-small, .flex.gap-s.spacer-medium, .flex.gap-s.spacer-large, .flex.gap-s.aspect-ratio-landscape {
    flex-flow: column;
  }

  ._8-col, ._4-col {
    width: 100%;
  }

  .coming-games.bg-white {
    overflow-x: scroll;
  }

  .previous-day, .next-day.bg-white {
    display: none;
  }

  .divider.vertical.neutral-dark.m-horizontal {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: none;
    width: 100%;
    height: 1px;
  }
}

#w-node-b224ec27-30fa-be84-48bf-7ed471542af3-f1ed1610 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-f1ed1610 {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-f1ed1610, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-f1ed1610 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-f1ed1610 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-f1ed1610 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-f1ed1610 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-f1ed1610 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-f1ed1610 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-f1ed1610 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-f1ed1610 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-f1ed1610 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-f1ed1610, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-f1ed1610, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-f1ed1610, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-f1ed1610, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-f1ed1610, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-f1ed1610, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-f1ed1610, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-f1ed1610, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-f1ed1610, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-f1ed1610, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-f1ed1610 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-f1ed1610 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-f1ed1610 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-f1ed1610, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-f1ed1610 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-f1ed1610 {
  justify-self: start;
}


